body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: Georgia, serif;
    color: #ffe600;
}

h2 {
    font-family: Georgia, serif;
    color: #ffe600;
    margin-top: 40px;
}

nav {
    margin-top: 15px;
}

nav a {
    color: #ffe600;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
}

section {
    padding: 40px;
    margin: 20px;
    background-color: #1a1a1a;
    border-radius: 10px;
    border: 1px solid #333;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    margin-top: 40px;
}


.intro-box {
    display: flex;
    align-items: center;
    gap: 40px;
    border: 1px solid #333;
    padding: 30px;
    border-radius: 12px;
    background-color: #111; /* se quiser manter o dark */
}

.intro-img {
    width: 250px;
    border-radius: 15px;
}

.intro-text {
    max-width: 600px;
}


